<div id="periods" class="row">
    <div class="col-4">
        PERIOD
    </div>
    <div class="col-4"/>
    <div class="col-1 clickable" style="@GetBackgroundColor(1)" @onmousedown="@(_ => currentPeriod = 1)" @onmousedown:preventDefault="true">
        1
    </div>
    <div class="col-1 clickable" style="@GetBackgroundColor(2)" @onmousedown="@(_ => currentPeriod = 2)" @onmousedown:preventDefault="true">
        2
    </div>
    <div class="col-1 clickable" style="@GetBackgroundColor(3)" @onmousedown="@(_ => currentPeriod = 3)" @onmousedown:preventDefault="true">
        3
    </div>
    <div class="col-1 clickable" style="@GetBackgroundColor(4)" @onmousedown="@(_ => currentPeriod = 4)" @onmousedown:preventDefault="true">
        4
    </div>
</div>

@code
{
    private byte currentPeriod = 1;

    public void Next()
    {
        if (currentPeriod < 4) 
        {
            currentPeriod++;
            StateHasChanged();
        }
    }

    public void Reset()
    {
        currentPeriod = 1;
        StateHasChanged();
    }

    public bool IsLastPeriod => currentPeriod == 4;

    private string GetBackgroundColor(byte period)
    {
        return period == currentPeriod
            ? "background-color: red;"
            : "";
    }
}