@using System.Timers;

<div class="container">
    <div class="row clickable" @onclick="ToggleTimer">
        @if (PeriodCloseToEnding())
        {
            <!-- Show seconds and tenths -->
            <div class="col-5">
                <div class="white-text big-text" style="@GetSecondStyles()">
                    @seconds.ToPaddedString()
                </div>
            </div>
            <div class="col-2">
                <div class="white-text big-text" style="@GetSecondStyles()">
                    .
                </div>
                <div id="ongoing-minute">
                    @ongoingMinute
                </div>
            </div>
            <div class="col-5">
                <div class="white-text big-text" style="@GetSecondStyles()">
                    @tenths
                </div>
            </div>
        }
        else
        {
            <!-- Show minutes and seconds -->
            <div class="col-5">
                <div class="white-text big-text">
                    @minutes.ToPaddedString()
                </div>
            </div>
            <div class="col-2">
                <div class="white-text big-text">
                    :
                </div>
                <div id="ongoing-minute">
                    @ongoingMinute
                </div>
            </div>
            <div class="col-5">
                <div class="white-text big-text" style="@GetSecondStyles()">
                    @seconds.ToPaddedString()
                </div>
            </div>
        }
    </div>

    <div id="time-adjustments" class="row white-text">
        <div class="col-5">
            <div class="row">
                <div class="col-4 adjustment-text">
                    MINUTES
                </div>
                <div class="col-4 adjustment" @onclick="SubtractMinute">
                    -
                </div>
                <div class="col-4 adjustment" @onclick="AddMinute">
                    +
                </div>
            </div>
        </div>
        <div class="col-2" />
        <div class="col-5">
            <div class="row">
                <div class="col-4 adjustment-text">
                    SECONDS
                </div>
                <div class="col-4 adjustment" @onclick="SubtractSecond">
                    -
                </div> 
                <div class="col-4 adjustment" @onclick="AddSecond">
                    +
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private const byte intermissionLengthInMinutes = 2;
    private const byte overtimeLengthInMinutes = 5;
    private byte minutes = 0;
    private byte seconds = 0;
    private byte tenths = 0;
    private string ongoingMinute = "1st MINUTE";
    private byte? startingMinutes;
    private Timer? timer;
    private bool isIntermission;
    private bool isOvertime;

    [Parameter]
    public EventCallback OnPeriodEnded { get; set; }

    [Parameter]
    public EventCallback OnIntermissionEnded { get; set; }

    protected override void OnInitialized()
    {
        timer = new Timer(100); // 100ms intervals for tenths of seconds
        timer.AutoReset = true;
        timer.Enabled = false;
        timer.Elapsed += TimerTick;
    }

    public void ToggleTimer()
    {
        if (!timer!.Enabled && !startingMinutes.HasValue && minutes > 0) startingMinutes = minutes;
        if (minutes > 0 || seconds > 0) timer!.Enabled = !timer.Enabled;
    }

    public void Reset()
    {
        minutes = startingMinutes.HasValue ? startingMinutes.Value : (byte) 0;
        seconds = 0;
        tenths = 0;
        ongoingMinute = "1st MINUTE";
        isIntermission = false;
        isOvertime = false;
        StateHasChanged();
    }

    public void StartIntermission()
    {
        minutes = intermissionLengthInMinutes;
        seconds = 0;
        tenths = 0;
        ongoingMinute = "1st MINUTE";
        isIntermission = true;
        isOvertime = false;
        ToggleTimer();
    }

    public void Overtime()
    {
        minutes = overtimeLengthInMinutes;
        seconds = 0;
        tenths = 0;
        ongoingMinute = "1st MINUTE";
        isIntermission = false;
        isOvertime = true;
        StateHasChanged();
    }

    public void CancelIntermission()
    {
        if (isIntermission)
        {
            if (timer!.Enabled) ToggleTimer();
            Reset();
        }
    }

    private bool PeriodCloseToEnding()
    {
        return !isIntermission && (startingMinutes.HasValue && startingMinutes.Value <= 2) && (minutes == 0);
    }

    private string GetSecondStyles()
    {
        return minutes == 0 && seconds > 0 && !isIntermission
            ? "color: red;"
            : "";
    }

    private async void TimerTick(Object? source, ElapsedEventArgs e)
    {
        SubtractTenth();
        if (minutes == 0 && seconds == 0 && tenths == 0)
        {
            timer!.Enabled = false;
            if (isIntermission) await OnIntermissionEnded.InvokeAsync();
            else await OnPeriodEnded.InvokeAsync();
        }
        StateHasChanged();
    }

    private void SubtractTenth()
    {
        if (tenths > 0) tenths--;
        else if (seconds > 0)
        {
            seconds--;
            tenths = 9;
        }
        else if (minutes > 0)
        {
            SubtractMinute();
            seconds = 59;
            tenths = 9;
        }
    }

    private void SubtractSecond()
    {
        if (seconds > 0) 
        {
            seconds--;
            tenths = 0; // Reset tenths when manually adjusting seconds
        }
        else if (minutes > 0)
        {
            SubtractMinute();
            seconds = 59;
            tenths = 0;
        }
    }

    private void AddSecond()
    {
        if (seconds < 59) 
        {
            seconds++;
            tenths = 0; // Reset tenths when manually adjusting seconds
        }
        else 
        {
            AddMinute();
            seconds = 0;
            tenths = 0;
        }
    }

    private void SubtractMinute()
    {
        if (minutes > 0)
        {
            minutes--;
            if (!isIntermission) SetOngoingMinute();
        }
    }

    private void SetOngoingMinute()
    {
        int? remainingMinutes = null;
        if (isOvertime) remainingMinutes = overtimeLengthInMinutes - minutes;
        else if (startingMinutes.HasValue) remainingMinutes = startingMinutes.Value - minutes;

        if (remainingMinutes.HasValue)
        {
            string remainingMinutesText = remainingMinutes.Value.ToString();
            string minutesPostfix = "th";
            if (remainingMinutesText.EndsWith("1") && !remainingMinutesText.EndsWith("11")) minutesPostfix = "st";
            if (remainingMinutesText.EndsWith("2") && !remainingMinutesText.EndsWith("12")) minutesPostfix = "nd";
            if (remainingMinutesText.EndsWith("3") && !remainingMinutesText.EndsWith("13")) minutesPostfix = "rd";
            ongoingMinute = remainingMinutes.Value > 0 ? $"{remainingMinutesText}{minutesPostfix} MINUTE" : "1st MINUTE";
        }
    }

    private void AddMinute()
    {
        minutes++;
        if (!isIntermission) SetOngoingMinute();
    }
}
