<div class="title" @onclick="@(_ => fouls = 0)">
    FOULS
</div>

<div class="foul-dot" style="width: 55px; height: 55px; @GetBackgroundColor(5)" @onmousedown="@(_ => fouls = 5)" @onmousedown:preventDefault="true" />
<div class="foul-dot" style="width: 50px; height: 50px; @GetBackgroundColor(4)" @onmousedown="@(_ => fouls = 4)" @onmousedown:preventDefault="true" />
<div class="foul-dot" style="width: 45px; height: 45px; @GetBackgroundColor(3)" @onmousedown="@(_ => fouls = 3)" @onmousedown:preventDefault="true" />
<div class="foul-dot" style="width: 40px; height: 40px; @GetBackgroundColor(2)" @onmousedown="@(_ => fouls = 2)" @onmousedown:preventDefault="true" />
<div class="foul-dot" style="width: 35px; height: 35px; @GetBackgroundColor(1)" @onmousedown="@(_ => fouls = 1)" @onmousedown:preventDefault="true" />

@code 
{
    private byte fouls = 0;

    public void Reset()
    {
        fouls = 0;
        StateHasChanged();
    }

    private string GetBackgroundColor(byte foulPosition)
    {
        if (foulPosition == 5)
        {
            return fouls == 5
                ? "background-color: red;"
                : "background-color: darkred;";
        }

        return fouls >= foulPosition
            ? "background-color: white;"
            : "background-color: grey;";
    }
}